body {
    background-color: #F5F5F5;
}

#contents {
    margin: 50px;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

.pj {
    clear: both;
}

.pj_image {
    display: block;
    float: left;
    padding: 15px;
}

.pj_text {
    vertical-align: top;
    padding-top: 50px;
    margin-bottom: 30px;
}

.pj_title a{
    color: #02AEDC;
    font-size: larger;
    font-weight: bold;
}

.pj_keywords{
    margin-top: 40px;
}

hr {
    clear: both;
}